@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Sansita+Swashed:wght@300&family=Sintony:wght@400;700&display=swap');
:root {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
}


/*------------ end Padrão ----------*/
/*---------- Initial Header --------*/
header {
    width: 100vw;
    position: fixed;
    margin: 0.313rem;
    padding: 0.938rem ;

}
.div-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div > .h3-logo {
    font-family: 'Sansita Swashed', cursive;
    margin-left: 2.5rem;
    font-size: 2.4rem;
    cursor: pointer;
}
.mobile-menu {
    cursor: pointer;
    margin-bottom: 8px;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #000;
    margin: 8px;
}

div > .social {
    font-family: 'Poppins', sans-serif;
    margin-right: 12.5rem;

}
div > .icon-menu {
    display: block;
    margin-right: 1.875rem;
    cursor: pointer;
    width: 2.188rem;
    height: 2.188rem;
}
div > .ab {
    color: gray;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    margin-right: 1.125rem;
    margin-left: 1.125rem;
}
div > .cd {
    color: gray;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    margin-right: 1.125rem;
    margin-left: 1.125rem;
}
.yl:hover {
    text-decoration: none;
    color: #FFC003;
}
.wh:hover {
    text-decoration: none;
    color: #feefdc;
}
/*------------ end Header ----------*/

/*--------- Initial Content --------*/
main {
    height: 100vh;
}
.backwhite {
    display: flex;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: #FEFEFE;

}
.first-div {
    margin-left: 3.75rem;   
}
.dx {
    margin-bottom: 0.625rem;
}
.text-h4 {
    font-family: 'Poppins', sans-serif;
    color: gray;
    font-weight: 400;
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 0px;
}
.text-h2 {
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    margin-top: 0.625rem;
}
.necessary {
    color: #FFC003;
    text-shadow: -4px 3px 7px black;
}
.text-h3 {
    font-family: 'Poppins', sans-serif;
    color: gray;
    font-weight: 400;
    text-decoration: none;
    font-size: 1.188rem;
    margin-bottom: 1.5rem;
}
.button {
    font-family: 'Sansita Swashed', cursive;
    padding: 1.2rem 3.3rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    appearance: none;
    border: #FFC003;
    cursor: pointer;
    background-color: #FFC003;
    background-image: linear-gradient(rgb(157, 138, 138), rgb(157, 138, 138));
    background-repeat: no-repeat;
    background-size: 0 100%;
    box-shadow: -4px 5px 16px 9px #feefdc;
    background-position-x: right;
    transition: background-size 500ms;
    
}
button.button:hover {
    background-size: 100% 100% ;
    background-position-x: left;
    
}
/*-------------- End --------------*/
/*--------- Initial Banner --------*/
.backyellow {
    display: flex;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFC003;
    background-repeat: no-repeat;
}
.banner {
    width: 36.563rem;
    max-height: 100vh;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    
}
/* @MediaQuery for 4k ------------------------------------------------------ */ 
@media screen and (min-width: 2200px) and (max-width: 2800px) {
    div > .h3-logo {
        margin-left: 4rem;
        font-size: 3.7rem;
    }
    div > .icon-menu {
        margin-right: 3rem;
        width: 3.5rem;
        height: 3.5rem;
    }
    div > .social {
        margin-right: 18.5rem;
        font-size: 1.563rem;
    }
    .first-div {
        margin-left: 6rem ;
    }
    .text-h4 {
        font-size: 1.9rem;
    }
    .text-h2 {
        font-size: 4.813rem;
    }
    .text-h3 {
        font-size: 2.4rem;
    }
    .button {
        padding: 1.2rem 3rem;
        font-size: 2.1rem;
    }
    .banner {
        width: 57.5rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 1440px) {
    div > .h3-logo {
        margin-left: 2rem;
        font-size: 2.4rem;
    }
    div > .icon-menu {
        margin-right: 2rem;
        width: 2rem;
        height: 2rem;
    }
    div > .social {
        margin-right: 12rem;
        font-size: 1.1rem;
    }
    .first-div {
        margin-left: 4rem ;
    }
    .text-h4 {
        font-size: 1.1rem;
    }
    .text-h2 {
        font-size: 2.7rem;
    }
    .text-h3 {
        font-size: 1.4rem;
        margin-bottom: 1.4rem;
    }
    .button {   
        padding: 0.9rem 2.5rem;
        font-size: 1.3rem;
    }
    .banner {
        width: 36.625rem;
        margin-right: 1.2rem;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 1024px) {
    div > .h3-logo {
        margin-left: 2.7rem;
        font-size: 2.2rem;
    }
    div > .icon-menu {
        margin-right: 1.7rem;
        width: 1.9rem;
        height: 1.9rem;
    }
    div > .social {
        margin-right: 12.4rem;
        font-size: 1rem;
    }
    .first-div {
        margin-left: 4rem ;
    }
    .text-h4 {
        font-size: 1.02rem;
    }
    .text-h2 {
        font-size: 2.5rem;;
    }
    .text-h3 {
        font-size: 1.35rem;
        margin-bottom: 1.2rem;
    }
    .button {   
        padding: 0.99rem 2rem;
        font-size: 1.2rem;
    }
    .banner {
        width: 29rem;
        margin-right: 0.9rem;
        margin-bottom: 1.5rem;
    }
}
@media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
